body {
    background-color: darkgray;
}

header {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    border: 5px black;
}

.product {
    padding-left: 30px;
    margin-right: 650px;
}

.contact {
    padding-right: 30px;
    margin-left: 640px;
}

