* {
  font-family: Arial;
  font-size: 21px;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
  margin-left: 60px;
  margin-right: 60px;
}

.images {
  width: 400px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.image {
  display: flex;
  margin-bottom: 120px;
}

.first {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  place-self: center;
}

.second {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  align-self: center;
}

.third {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  place-self: center;
}

.fourth {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  border-bottom: 3px solid black;
}

footer {
  max-height: 200px;
}

nav {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 130px;
}

button {
  height: 40px;
  width: 180px;
  margin-left: 30px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}

h1 {
  font-size: 35px;
  text-align: center;
}

.heading {
  font-size: 28px;
  margin-top: 100px;
  margin-bottom: 50px;
}

p {
  width: 600px;
  display: block;
  margin-right: 30px;
}


